.blue-text {
    color: cornflowerblue;
}

.grey-text {
    color: gray;
}

.btn-save {
    background-color: red;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px;
    width: 130px;
}
